<style>
html{}
body {
  background-color: #dadada;
}
h1{
  font-size: 45px;
  border-bottom: 3px solid gray;
  padding-bottom: 10px;
  margin-bottom: 8px;
max-width: 1150px;
  max-width:
}

a {
  color: black;
  text-decoration: none;
}

#menuBox {
position: absolute;
top: 150px;
width:170px;
left: 20px;
right: 0;
height: 600px;
background-color: #fff;
border-right: 1px solid #ddd;
cursor: default;
box-shadow: 2px 2px gray;
}
#menuBox .menu {
  width:170px;
padding-top: 30px;
padding-bottom: 70px;

  }

  #menuBox .menu ul {
    margin-top: 7px;
  }

  #body {
    margin-left: 200px; position: absolute; max-width: 930px; width: 100%;

    top: 150px;
  }
  #contents .title h2 {
    margin-top: 0px;
    font-size: 25px;
    text-align: center;
  }
  #contents .show {
    font-size: 17px;
    padding-left: 10px;
    padding-top: 30px;
    background-color: #fff;
    box-shadow: 2px 2px gray;
    padding-bottom: 30px;
    text-align: center;


  }
  #foot .question {
    font-size: 17px;
    padding-left: 10px;
    padding-top: 30px;
  }
  #foot .question a {
    box-shadow: 2px 2px gray;
    padding: 5px;
  }
#foot .design {
  background-color: #dadada;
  margin-top: 30px;
  padding-top: 10px;
  text-align: center;
}

</style>
